/* Theme Component - Alerts */

.alert {
  border-radius: var(--radius-default);
  padding: var(--spacing-md) var(--spacing-lg);
  border: 0;
  margin-bottom: var(--spacing-lg);
}

.alert-primary {
  background-color: var(--color-primary-subtle);
  color: var(--color-primary-text-emphasis);
  border-color: var(--color-primary-border-subtle);
}

.alert-success {
  background-color: var(--color-success-subtle);
  color: var(--color-success-text-emphasis);
  border-color: var(--color-success-border-subtle);
}

.alert-danger {
  background-color: var(--color-danger-subtle);
  color: var(--color-danger-text-emphasis);
  border-color: var(--color-danger-border-subtle);
}

.alert-warning {
  background-color: var(--color-warning-subtle);
  color: var(--color-warning-text-emphasis);
  border-color: var(--color-warning-border-subtle);
}

.alert-info {
  background-color: var(--color-info-subtle);
  color: var(--color-info-text-emphasis);
  border-color: var(--color-info-border-subtle);
}

